canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/* Ajouté pour les liens dans les textes contextuels */
#astro-info-container a {
  color: #b86edb;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s;
}
#astro-info-container a:hover {
  color: #e0b3ff;
  text-decoration: underline;
}